

* {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #5ac9af;
    padding: 20px;
    font-family: 'Nanum Gothic', sans-serif;
    margin: 40px;
    color: rgb(255, 255, 255);
    /* text-align: center; */

  }
  
  /* Center website */
  .main {
    max-width: 1000px;
    /* margin: auto; */
    align-items: center;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 8px -16px;
    align-items: center;
  }
  
  /* Add padding BETWEEN each column (if you want) */
  /* .row,
  .row > .column {
    padding: 15px;
  } */
  
  /* Create four equal columns that floats next to each other */
  .column {
    /* float: center; */
    width: 100%;
    align-content: center;
  }
  
  /* Clear floats after rows */
  /* .row:after {
    content: "";
    display: table;
    clear: both;
  } */
  
  /* Content */
  .content {
    background-color:  #8fcbbd;
    padding: 10px;
    color:  #ffffff;
    text-align: center;
    margin-bottom: 20px;
    align-content: center;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .github {

  }

  .email {
    padding-top: 5px;
    padding-left: 50px;
  }

  /* .portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
  } */